schema-dev/mitfordODD.odd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml"
	schematypens="http://purl.oclc.org/dsdl/schematron"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0"
   xmlns:sch="http://purl.oclc.org/dsdl/schematron"
   xmlns:rng="http://relaxng.org/ns/structure/1.0"
   version="2.9.1"
   xml:lang="en">
  <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>Digital Mitford Project ODD</title>
         </titleStmt>
         <publicationStmt>
            <authority>Prepared in TEI P5 by Elisa Beshero-Bondar in the Digital Mitford GitHub repository: <ref target="https://github.com/DigitalMitford/DM_processing"/>. Date last worked on: <date when="2018-08-06">6 August 2018</date></authority>
            <availability><licence>Creative Commons Attribution-ShareAlike 4.0 International (CC BY-SA 4.0) approved for Free Cultural Works <ref target="https://creativecommons.org/licenses/by-sa/4.0/"/></licence></availability>
         </publicationStmt>
         <sourceDesc>
            <p>Born digital.</p>
         </sourceDesc>
      </fileDesc>
  </teiHeader>
  <text>
      <body>
         <schemaSpec ident="mitfordODD" start="TEI teiCorpus" prefix="tei">
            <moduleRef key="tei"/>
            <moduleRef key="core"/>
            <moduleRef key="header"/> 
            <moduleRef key="msdescription"/> 
            <moduleRef key="namesdates"/>
            <moduleRef key="analysis"/>
            <moduleRef key="textstructure" except="div1 div2 div3 div4 div5 div6 div7"/>
            <moduleRef key="drama" except="camera"/>
            <moduleRef key="linking"/>
            <moduleRef key="textcrit" except="lem "/>
            <moduleRef key="transcr" except="line zone path"/>
            <moduleRef key="figures"/><!--ebb: We may want to make a table of postmark images correlated to IDs in its own file. -->
            <moduleRef key="gaiji"/><!--ebb: included for charDecl if we want to make a list of metamarks -->
            
            <!-- Validation for general xml:id syntax and hashtags for referencing, plus critical apparatus checking of witness values-->
            <constraintSpec scheme="schematron" ident="xmlIDs">
               <constraint>
                  <sch:rule context="tei:TEI//@xml:id" role="fatal">
                     <sch:report test="matches(., '\s+')">
                        @xml:id values may NOT contain white spaces!
                     </sch:report>        
                  </sch:rule>
               </constraint>
            </constraintSpec>
              <constraintSpec scheme="schematron" ident="hashtaggery">
                 <constraint>
                    <sch:rule context="tei:TEI//@ref | tei:TEI//@who | tei:TEI//@corresp | tei:TEI//@wit" role="fatal">
                     <sch:assert test="starts-with(., '#')">
                        Attributes @ref, @who, @corresp and @wit must begin with a hashtag.
                     </sch:assert>  
                    </sch:rule>
                 </constraint>
              </constraintSpec>   
            <constraintSpec scheme="schematron" ident="listWitCheck">
               <constraint>
                  <sch:rule context="tei:TEI//@wit" role="fatal">
                     <sch:let name="tokens" value="for $w in tokenize(., '\s+') return substring-after($w, '#')"/>
                     <sch:assert test="every $token in $tokens satisfies $token = //tei:TEI//tei:listWit//@xml:id">
                        Every reading witness (@wit) after the hashtag must match an xml:id defined in the list of witnesses in this file!
                     </sch:assert>
                  </sch:rule>
               </constraint>
            </constraintSpec>
           
         </schemaSpec>
      </body>
  </text>
</TEI>
